<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
                var adultprev = 0;
                var childprev = 0;

            function cc() {
                var priceAdult = [[${priceAdult}]];
                var priceChild = [[${priceChild}]];

                var aseats = document.getElementById('numberOfAdultsSeats');
                var cseats = document.getElementById('numberOfPlacesForChildren');

                if(aseats.value > [[${numberOfAdultsSeats}]]) {
                    aseats.value = adultprev;
                    alert('Too many adult tickets!');
                } else { adultprev = aseats.value; }

                if(cseats.value > [[${numberofPlacesForChildren}]]) {
                    cseats.value = childprev;
                    alert('Too many child tickets!');
                } else { childprev = cseats.value; }

                var divobj = document.getElementById('tot_amount');
                divobj.value = aseats.value * priceAdult + cseats.value * priceChild;
            }
    </script>
</head>
<body>
<a href="/tours/admin">Add/Edit Flight tour</a> | <a href="/tours/admin/list">Flight list</a> | <a href="/tours/main">Search</a> [ Buy ]
<hr/>
<div style="position: relative;height: 150px; background: url(https://thumbs.dreamstime.com/b/long-banner-topic-traveling-around-world-landmarks-background-modern-city-opera-house-pisa-65929806.jpg); background-repeat: repeat; background-size: auto 150px; "><div style="border: 1px solid black;position: absolute;bottom:0px;left:20px;width:300px;background-color:white;text-align:center;font-family:verdana; font-size:200%;"> Buy Ticket:</div></div>
<form method="POST" action="/tours/buy">
    <input type="hidden" th:value="${id}" id="id" name="id">
    <h3 th:text="*{tourname}"></h3>
    <label>The number of adult seats</label>
    <input type="number" id="numberOfAdultsSeats" name="numberOfAdultsSeats" onkeyup="cc()" oninput="cc()" value="0"/> (Price: [[${priceAdult}]] | Available: [[${numberOfAdultsSeats}]])<br/>
    <label>The number of child seats</label>
    <input type="number" id="numberOfPlacesForChildren" name="numberOfPlacesForChildren" onkeyup="cc()" oninput="cc()" value="0"/> (Price: [[${priceChild}]] | Available [[${numberofPlacesForChildren}]])
    <hr/>
    <label><b>Total Amount</b></label>
    <input class="w3-input w3-border" name="tot_amount" id="tot_amount" type="text" readonly>
    <input type="submit" value= "Buy" id = "submit-button"/>
</form>
</body>
</html>